[2017-10-26 17:36] KevinMulhern opened #1 "Kicking Things off"
Alright lads @TheOdinProject/ruby-team lets get this kicked off.

First thing we need to do is move everything ruby related over from the curriculum repo and change the seeds files on the main site to point the lessons towards their new home in this repo.

[2017-10-26 17:37] KevinMulhern opened #2 "Small Wins"
Are there any small things you think we can do to improve the course right away?
This is the place to list and discuss them.

[2017-10-26 17:38] KevinMulhern opened #3 "Long term Projects"
What are the long term projects and improvements you think we should work on for this course? what new sections, lessons, projects do you think we should create?

[2017-10-26 17:39] mindovermiles262 commented on #2
Let's get a project set up for the ruby course

[2017-10-26 17:45] KevinMulhern commented on #2
Heres some of the small wins I think we can do:

* Create a rake task we can run on the main site to get lesson completion data for lessons in this course on a weekly/daily basis.
* Go through the resources we are using in this course and update them with newer/better resources if any exist.
* Split any projects out into separate files (this is a blocker for the student submissions feature)

[2017-10-26 17:49] mindovermiles262 commented on #1
The ruby directory in the curriculum is a mess :see_no_evil:

Let's keep evertything organized in folders:
* Content
  * Follow naming convention: `<url slug>_content.md`
* Projects
  * Follow naming convention: `project_<url slug>`

[2017-10-26 17:52] KevinMulhern commented on #1
We need to include the couple of ruby lessons from web dev 101 as well 🙈
Oh and we will need a place to store new lessons while they are being worked on. We have a few in the curriculum repo that aren't ready for production yet.

[2017-10-26 17:54] mindovermiles262 commented on #1
Easy - we add a web dev 101 folder to the lessons and projects folder

Make an `In Progress` folder inside of `Lessons`

[2017-10-26 17:57] mindovermiles262 commented on #3
I've created a "Long Term" project board. Please add suggestions there

[2017-10-26 17:58] KevinMulhern commented on #3
Longterm projects I think we can do without having any adverse effects on the rest of the curriculum:

* Expand the OOP lessons into a section
Currently we have one lesson and a couple of projects for teaching OOP. We could very easily vastly improve the quality of the ruby course by expanding OOP out into a section with individual lessons, `History and Justification for OOP`, `Classes and Instanc

[2017-10-26 17:59] KevinMulhern commented on #3
@mindovermiles262 yeah lets use this issue as a place to discuss and decide on what the long term projects are. If a majority agree on a long term project. Then we can make it official by putting it in the project.

[2017-10-26 18:01] KevinMulhern commented on #1
Sounds good to me 😄

[2017-10-26 18:30] leosoaivan commented on #1
Sgtm

[2017-10-26 19:26] KevinMulhern commented on #1
Just had a thought 🙈
Would it make more sense to structure it as it is in on the site? a folder for each section.

Something like:

* web_development_101
  * the_backend
* ruby_programming
  * basic_ruby
  * intermediate_ruby
  * ...

I figure it would make it easier to find a specific lesson when your looking for it. This is obviously up for discussion though.

Oh, I really like the naming conver

[2017-10-26 19:26] leosoaivan commented on #2
I know we had started redoing the curriculum a while back. How about drafting a syllabus? A broad overview would be like good design: the implementation will naturally follow :)

[2017-10-26 19:29] KevinMulhern commented on #2
Good idea @leosoaivan 😄 I think that falls under long term projects better https://github.com/TheOdinProject/ruby_course/issues/3

[2017-10-26 19:57] KevinMulhern opened #4 "Remove testing lesson on web dev 101"
This has been coming up quite a lot in chat :point_up: [October 26, 2017 8:40 PM](https://gitter.im/TheOdinProject/theodinproject?at=59f23a1f5a1758ed0f52d3ac)

We had to remove the rspec course by codeschool from the testing lesson on web dev 101 https://www.theodinproject.com/courses/web-development-101/lessons/testing-basics

Without that course the lesson is basically useless, its too early in

[2017-10-26 20:08] leosoaivan commented on #4
I can't self assign from mobile, but I'll look at this. I'm good at deleting stuff.

[2017-10-26 21:15] CouchofTomato commented on #2
I think the best thing we can do right now is update resources. I'll start going through what we have and see whats out of date.

[2017-10-26 21:26] CouchofTomato commented on #3
Following on from @KevinMulhern's point about writing good code. I think highlighting the huge benefits you get from reading through code. It's really really daunting getting stuck into someone else's code, especially larger projects but there are plenty of good resources out there that we could easily throw something together.

I think we could really help students by giving them resources for jo

[2017-10-27 00:49] KevinMulhern commented on #3
@CouchofTomato 👍 👍 👍 for reading code, we should also explain the best techniques for doing it. That's a really useful skill with large code bases.

I just thought of another potential long term project, a full suite of lessons about enumerable methods. Once you know enumerable methods well, it opens a big part of Ruby up.

I envision these lessons being spread throughout the project, a basic enum

[2017-10-27 00:50] KevinMulhern commented on #2
Another small project we could work on is experimenting with using repl.it for exercises in a lesson.

[2017-10-27 08:51] CouchofTomato commented on #3
I think we could also look at some of the more widely used design patterns. Where it goes I'm not sure because it equally applies to Ruby, Rails and JS. It doesn't need to be a massive thing because I know design patterns are a rabbit hole but knowing the common ones (decorators etc) would be useful. Especially since the final chess project definitely has scope for some (command pattern etc).

[2017-10-27 18:11] KevinMulhern commented on #1
@TheOdinProject/ruby-team pls discuss, we need to make a decision on this before we can move this forward.

[2017-10-27 18:53] KevinMulhern commented on #3
@CouchofTomato agree with all that, cover the most common design patterns they will come across and direct them to more comprehensive resources if they want to learn more.

[2017-10-27 19:05] mindovermiles262 commented on #1
@KevinMulhern I agree with your directory structure.

- web_dev_101 (dir)
  - the_backend (dir)
    - lesson_title_here01.md
    - lesson_title_here02.md
    - project_title_here.md
- ruby_programming (dir)
  - basic_ruby (dir)
    - lesson_title_here.md
    - project_title_here.md

[2017-10-27 19:15] KevinMulhern commented on #1
lets do it 😄

[2017-10-28 05:10] leosoaivan commented on #4
I am running into many instances of RSpec being mentioned as the testing framework for Hartl's tutorial. I'm fixing those as well.

[2017-10-29 18:49] #4 closed

[2017-10-30 00:07] KevinMulhern opened #6 "Lesson Completions"
I'll keep this as an open ongoing issue so we can see the lesson completions for each lesson in the Ruby Course over time. This will give us data to use when making decisions about the course.

We should probably automate this in some way so it posts a comment on this issue each week with the percentage increase or decrease from the week before.

[2017-10-30 00:08] KevinMulhern commented on #6
Data from 30/10/2017

**How this Course Will Work**
lesson completions: 5442

**Ruby Building Blocks**
lesson_completions: 2989

**Building Blocks**
lesson completions: 2153

**Advanced Ruby Building Blocks**
lesson completions: 1997

**Advanced Building Blocks**
lesson completions: 1623

**Object Oriented Programming**
lesson completions: 1583

**OOP Project**
Lesson Completions: 1146

**Files an

[2017-10-30 00:11] KevinMulhern opened #7 "Syllabus"
Leo made a great point about drafting out a broad syllabus for this course in another issue https://github.com/TheOdinProject/ruby_course/issues/2

I think it's a great idea and will hopefully generate a lot of new ideas as well as get us all on the same page as to what we want this course to be and contain.

I'm not sure what format we should go with here so write out your ideas in whatever way y

[2017-10-30 03:28] KevinMulhern commented on #7
Heres my take:

Overall Learning outcomes for a student completing this course.
* They know the basics of programming and how to solve problems programatically
* They have a good grasp of Ruby as a language and specific features to it ie enumerables
* They have a good grasp of OOP and testing
* They know about Files and serialisation
* They know how to model software with OOP and know the best pra

[2017-10-30 11:30] CouchofTomato commented on #7
Hi @KevinMulhern. Agree with most of what you say and the draft of the plan looks great.

At this stage I only have two things to add.

1) Although splitting up lessons to make them shorter helps. We need to be careful not to get too carried away. If you look at the FCC roadmap it looks really daunting, even if most of those lessons might only take minutes to learn. It might put people off if the

[2017-10-30 17:09] KevinMulhern commented on #7
Great points @CouchofTomato, I completely agree with not getting too carried away with the amount of lessons we have. I think having a lot of smaller lessons at the start of the course will make the course more accessible to beginners as it will be holding their hand a lot more with its introduction of new topics coming one lesson at a time. We can tail off this as the course progresses and make l

[2017-10-30 22:13] leosoaivan commented on #7
Great job on that syllabus, @KevinMulhern!

It would appear to me that composition would be a great fit in Advanced OOP. It could go after the first bit on Refactoring, sort of like Refactoring pt. 2, I think.

[2017-10-31 09:31] CouchofTomato commented on #7
@KevinMulhern

I agree with @leosoaivan and would aim to put composition in the advanced section.

[2017-10-31 09:56] CouchofTomato opened #8 "Ruby Final Project"
@KevinMulhern mentioned in another issue that the final project could potentially be replaced to something less daunting.

I'm personally in two minds. One the one hand you need to challenge yourself and many students probably move on because they feel they have a good grasp of Ruby and are itching to get started.

I also am hopeful that with a new improved Ruby course most students will be better

[2017-10-31 09:58] KevinMulhern commented on #7
👍 sounds good

We planned to add debugging lesson to the fundamentals when we planned that section earlier in the year. I think it would be good to include that as well.

[2017-10-31 10:18] CouchofTomato commented on #7
Oh yeah, debugging is a must. Well remembered.

[2017-10-31 15:03] mindovermiles262 commented on #7
https://github.com/TheOdinProject/ruby_course/blob/master/Syllabus.md

[2017-10-31 15:15] mindovermiles262 commented on #7
Is it worth it to include some RegEx stuff too?  I don't use it ALL that often, but it's nice to know how it works

[2017-10-31 23:07] KevinMulhern commented on #7
We should definitely include that @mindovermiles262 👍 👍 👍
Which section should we put it in?

[2017-11-01 00:34] leosoaivan commented on #8
I **really** like the idea of building a gem.

One idea for a turn-based strategy game could be command-line Battleships. It could be made more difficult to implement by requiring an AI or requiring that the script automates the positioning and orientation of ships at the beginning of the game. It could easily be made to require Inheritance/Composition

[2017-11-01 10:21] KevinMulhern commented on #8
Just to keep all related ideas in the same issue for future reference, @mindovermiles262 has a really good suggestion for this project

[2017-11-01 10:22] KevinMulhern commented on #7
Nice! I really like the idea of buildinh a web scrapper 😄 its practical and can be non trivial.

[2017-11-01 12:21] CouchofTomato commented on #8
What I've done is update the list in the top level comment so we have one place where all ideas are proposed.

What are peoples thoughts on the list so far? Are any unrealistic and should be removed? Do any stand out as workable?

[2017-11-01 13:01] KevinMulhern commented on #8
The list so far looks really good 👍  The only one I'm not keen on is a ruby dsl. While a ruby dsl project would be interesting and definitley be challenging enough for a final project, I think it would require a bit too much knowledge and use of meta programming.

[2017-11-01 13:26] CouchofTomato commented on #8
Thanks for the feedback. List updated.

[2017-11-04 19:24] KevinMulhern opened #9 "Projects we can Use"
Inspired by @CouchofTomato's final project post I think having somewhere to store project ideas  would be a good idea.

Any projects or exercise ideas you have put them here please.

[2017-11-04 20:36] KevinMulhern commented on #9
**Big Project Ideas**
[Conways game of life](https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life)
Tracking inventory - oop / files project
[Build a stack](https://en.wikipedia.org/wiki/Stack_(abstract_data_type))

[2017-11-05 01:48] #1 closed

[2017-11-05 02:28] KevinMulhern opened #11 "First long term project"
Now that we have moved all the files over I think It would be a good idea to decide upon the first long term project we will work on.

While we are trying to get the course to match the syllabus we drafted up, a long term project can be one of the sections of the new syllabus.

We will of course create issues and work on other smaller things as they come up while we work on a longer term project.

[2017-11-05 02:30] KevinMulhern commented on #11
My votes goes for the basic OOP section https://github.com/TheOdinProject/ruby_course/blob/master/Syllabus.md#section-basics-of-oop

It won't affect any other course, can directly replace the lessons already there for OOP and will improve the Ruby course tremendously.

[2017-11-05 02:48] mindovermiles262 opened #12 "Dynamic Seeding"
Creating lessons by seeding is inefficient and can be troublesome with the disjoint between the seed and the lesson.

One workaround for this would be to include metadata for each lesson in the header. There are Kramdown parsers ([Kramdown-metadata-parser](https://github.com/plexus/kramdown-metadata-parsers)) that are able to read this information and return a hash.

We can then use this data to d

[2017-11-05 02:50] mindovermiles262 commented on #11
Vote: TDD

We currently don't have a TDD section and it's most needed

[2017-11-09 12:14] CouchofTomato commented on #11
How many of us are there? Can we not split our time effectively between maybe two sections?

If I had to pick one I'd say OOP.

[2017-11-09 12:23] KevinMulhern commented on #11
I'd be happy enough with two on the go, theres 4 of us so there might not be much left over over for outside contributors if we are working on one at a time.

@leosoaivan @mindovermiles262 would you guys be happy with having 2 sections being worked on at a time?

[2017-11-09 14:55] mindovermiles262 commented on #11
SGTM :+1:

[2017-11-09 15:03] CouchofTomato commented on #11
Great. What's the plan to get started then?

[2017-11-09 15:08] KevinMulhern commented on #11
Get some stub templates made out for each lesson in those sections and make issues for them?

[2017-11-10 09:59] CouchofTomato commented on #11
So as per the syllabus we need to create a basics of OOP folder and then create a file for each prospective lesson?

[2017-11-10 11:10] KevinMulhern commented on #11
Yeah pretty much, just a stub file that has the basic template for a lesson. Having the file already created and the basic structure in place for it will hopefully remove a barrier for outside contributors to take part.

[2017-11-11 19:56] KevinMulhern opened #24 "Lesson: Introduction to Object Oriented Programming"
This lesson should teach the student the following:
* What is OOP and why it came about
* History of OOP
* The problem it solves

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/oop_introduction_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ]

[2017-11-11 20:00] KevinMulhern opened #25 "Lesson: Classes and Instances"
This lesson should teach the student the following:

* Whats a class
* Whats an instance of a class
* What are the differences between the two
* Instance variables and initialize method
* class variables

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/classes_and_instances_lesson.md) for the lesson

---
### Working on this task

-

[2017-11-11 20:03] KevinMulhern opened #26 "Lesson: Methods in OOP"
This lesson should teach the student the following:
* Instances methods
* Getters and setters
* Class methods
* The differences between the two

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/oop_introduction_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenti

[2017-11-11 20:20] KevinMulhern opened #27 "Lesson: Inheritance"
This lesson should teach the student the following:
* Inheritance and how it works
* The problem it solves

Please use this [stub file](hhttps://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/inheritance_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign br

[2017-11-11 20:25] KevinMulhern opened #28 "Lesson: Method Scope in OOP"
This lesson should teach the student the following:
* Public Methods
* Private and protected methods
* Why scope methods in your objects?

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/scope_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Br

[2017-11-11 20:33] KevinMulhern opened #29 "Lesson: Modules"
This lesson should teach the student the following:
* whats a module?
* what is the difference between a module and class
* what to use a module for?
  * Sharing methods
  * Namespacing

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/modules_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this

[2017-11-11 20:40] KevinMulhern opened #30 "Lesson: Intermediate Enumerables"
This lesson should teach the student the following:
* Inject
* each_with_object
* group_by
* max_by
* min_by

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/intermediate_enumerables_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off t

[2017-11-11 20:45] KevinMulhern opened #31 "Lesson: Working with Collaborator Objects"
This lesson should teach the student the following:
* Whats a collaborator object?
* Passing in a collaborator when initializing the object
* Creating a new collaborator object within the class
* Sub classing

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/working_with_collaborator_objects_lesson.md) for the lesson

---
### Working

[2017-11-11 20:49] KevinMulhern opened #32 "Lesson: Introduction to Test Driven Development"
This lesson should teach the student the following:
* What is TDD
* What problems does it solve?
* Red, green, refactor cycle

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/test_driven_development/tdd_introduction_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting be

[2017-11-11 20:54] KevinMulhern opened #33 "Lesson: Introduction to RSpec"
This lesson should teach the student the following:
* What is RSpec?
* How to install RSpec
* Basics RSpec syntax
  * describe
  * subject and let
  * it

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/test_driven_development/rspec_introduction_lesson.md) for the lesson

---
### Working on this task

- [ ] If you want to work on this task, pl

[2017-11-11 20:57] KevinMulhern opened #34 "Lesson: Structuring Tests in RSpec"
This lesson should teach the student the following:
* Describe for methods
  * use pound sign notation for instance methods `describe "#my_method" do`
  * use dot notation for class methods `describe ".my_method" do`
* Use context blocks for different branches

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/oop_basics/oop_introduction_lesson.

[2017-11-11 21:03] KevinMulhern opened #35 "Lesson: Mocks and Stubs"
This lesson should teach the student the following:
* What is a mock(double) and how can you use it?
* Before blocks in RSpec
* What are stubs and how are they used?
* What are spies and how are they used?
* Scope in RSpec, over-riding lets and subjects etc.

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/test_driven_development/mocks_and_stu

[2017-11-11 21:05] KevinMulhern opened #36 "Lesson What to Test"
This lesson should teach the student the following:
* Test Public methods
* Test commands and quiries
  * Test what a method retuns
  * If a method is a command method test it sends the right command
* Don't test private methods and why

Please use this [stub file](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/test_driven_development/what_to_test_lesson.md) for the les

[2017-11-12 22:13] KevinMulhern commented on #11
derp

@TheOdinProject/ruby-team I forgot to mention I've made a bunch of issues for these two sections. Please feel free to claim any that piques your interest. I'm going to make some posts in various ruby community channels to see if people in the community are interested in helping us with this.

[2017-11-12 22:14] #11 closed

[2017-11-12 22:49] leosoaivan commented on #33
I'll start us off with this one!

[2017-11-13 21:27] CouchofTomato commented on #24
I'll take this one.

[2017-11-13 22:07] mindovermiles262 commented on #32
Staking Claim

[2017-11-22 06:15] mindovermiles262 opened #58 "Split I/O Serialization"
Split `Project: File I/O and Serialization` into two sections, then add EventManager rewrite to first section

- [x] Split Project MD file
- [x] Update Seed file
- [x] Add EventManager Tutorial

[2017-11-29 05:10] jmooree30 commented on #8
I thought chess was the most interesting  project TOP had to offer and looked forward to it. With that being said if it was to be changed a web scraper is a cool idea.

[2017-11-29 22:43] mindovermiles262 commented on #58
Closed with https://github.com/TheOdinProject/ruby_course/pull/66 and https://github.com/TheOdinProject/theodinproject/pull/831

[2017-11-29 22:43] #58 closed

[2017-12-03 08:29] KevinMulhern commented on #33
@leosoaivan completed this one 💪 🎉

[2017-12-03 08:29] #33 closed

[2017-12-31 10:24] MariaTikhonova commented on #24
I would write text to this section and propose to your consideration if its still relevant and you approve.

[2018-01-01 21:38] KevinMulhern commented on #24
Hey @MariaTikhonova, thanks for taking this on 😄 I'm looking forward to seeing what you put together.

[2018-01-13 03:27] KevinMulhern opened #112 "Ruby Basics Lessons"
@KevinMulhern is responsible for coordinating the creation of these lessons, but he needs your help.

For each lesson, reply to this issue with:

1. An Introduction for the lesson
A brief summary about what the lesson is about and why the topics or concepts it teaches are important.

2. Learning Outcomes
A list of bullet points of what the student is expected to know or be able to do by the end of

[2018-01-13 03:38] KevinMulhern opened #113 "Basics of Object Oriented Programming Lessons"
We are seeking people to take charge of coordinating the creation of these lessons. If you would like to fill take this role, please let us know by commenting on this issue with your desire take ownership of these lessons.

For each lesson, reply to this issue with:

1. An Introduction for the lesson
A brief summary about what the lesson is about and why the topics or concepts it teaches are impor

[2018-01-13 03:42] KevinMulhern commented on #24
Hey @MariaTikhonova, we are doing a bit of a restruture with how we are organizing the redevelopment of the course. This lesson falls under this issue now https://github.com/TheOdinProject/ruby_course/issues/113

If you're still working on this lesson, please continue to do so 😄 just comment with the lesson content in that linked issue when you're done.

Let me know if you have any questions

[2018-01-13 03:42] #24 closed

[2018-01-13 03:43] #25 closed

[2018-01-13 03:43] #26 closed

[2018-01-13 03:43] #27 closed

[2018-01-13 03:43] #29 closed

[2018-01-13 03:43] #28 closed

[2018-01-13 03:44] #30 closed

[2018-01-13 03:44] #31 closed

[2018-01-13 03:52] KevinMulhern opened #114 "Test Driven Development Lessons"
We are seeking people to take charge of coordinating the creation of these lessons. If you would like to fill take this role, please let us know by commenting on this issue with your desire take ownership of these lessons.

For each lesson, reply to this issue with:

1. An Introduction for the lesson
A brief summary about what the lesson is about and why the topics or concepts it teaches are impor

[2018-01-13 03:54] KevinMulhern commented on #114
Introduction to RSpec lesson Done by @leosoaivan

### Introduction
In the previous lesson, we established the utility of [test-driven development](https://en.wikipedia.org/wiki/Test-driven_development) (TDD) in maintaining your code and sanity. In this lesson, we'll introduce you to your new best friend, the [RSpec](http://rspec.info/) testing framework. RSpec is one of the most popular testing fr

[2018-01-13 03:58] KevinMulhern commented on #32
I moved this lesson under this issue @mindovermiles262, to try out the new way of organising this re-development. https://github.com/TheOdinProject/ruby_course/issues/114

[2018-01-13 03:58] #32 closed

[2018-01-13 03:59] #34 closed

[2018-01-13 03:59] #35 closed

[2018-01-13 03:59] #36 closed

[2018-01-13 04:06] KevinMulhern opened #115 "Files and Serialisation Lessons"
We are seeking people to take charge of coordinating the creation of these lessons. If you would like to fill take this role, please let us know by commenting on this issue with your desire take ownership of these lessons.

For each lesson, reply to this issue with:

1. An Introduction for the lesson
A brief summary about what the lesson is about and why the topics or concepts it teaches are impor

[2018-01-13 04:12] KevinMulhern opened #116 "Intermediate Object Oriented Programming Lessons"
We are seeking people to take charge of coordinating the creation of these lessons. If you would like to fill take this role, please let us know by commenting on this issue with your desire take ownership of these lessons.

For each lesson, reply to this issue with:

1. An Introduction for the lesson
A brief summary about what the lesson is about and why the topics or concepts it teaches are impor

[2018-01-13 04:16] KevinMulhern opened #117 "Advanced Ruby Lessons"
We are seeking people to take charge of coordinating the creation of these lessons. If you would like to fill take this role, please let us know by commenting on this issue with your desire take ownership of these lessons.

For each lesson, reply to this issue with:

1. An Introduction for the lesson
A brief summary about what the lesson is about and why the topics or concepts it teaches are impor

[2018-01-13 04:17] KevinMulhern commented on #12
@CouchofTomato is current experimenting with this. If anyone is interested in this they should talk to him 😄

[2018-01-13 04:17] #9 closed

[2018-01-13 04:18] #6 closed

[2018-01-13 04:19] #3 closed

[2018-01-13 04:19] #2 closed

[2018-01-13 04:20] #7 closed

[2018-01-13 10:21] MariaTikhonova commented on #24
Hi,@KevinMulhern ! I'm working on this lesson, and will I get to the stage
I will see it looks the  proper way to show you ( several days), I will
write you a message for checking advise first :) . And then go on refining
or push ( comment).

On Sat, Jan 13, 2018 at 5:42 AM, Kevin Mulhern <notifications@github.com>
wrote:

[2018-01-15 17:27] Mycroft1891 commented on #115
regarding the project of this lesson. If you use download the `event_attendees.csv` file using the link from the lesson, you don't get the actual `csv` but the `html` file. To get the actual csv you have to use the raw link:

https://raw.githubusercontent.com/TheOdinProject/ruby_course/master/ruby_programming/intermediate_ruby/event_attendees.csv

[2018-01-15 18:30] mindovermiles262 commented on #115
Hi @Mycroft1891,
The like is set to the URL you've provided.  However, opening it in a web browser will forward you to the github page (We have no control over this)

In the tutorial, i believe it tells you to use `curl` to download the file:

    curl -o event_attendees.csv https://github.com/TheOdinProject/ruby_course/tree/master/ruby_programming/intermediate_ruby/event_attendees.csv

which will

[2018-01-15 19:38] Mycroft1891 commented on #115
@mindovermiles262 Yes, I ran that exact command but when I open the `event_attendees.csv` file it is an HTML file not CSV file. Try it out on your machine.

[2018-01-15 20:09] KevinMulhern commented on #115
@Mycroft1891 Can you open a new issue for this please? this is issue for discussing and coordinating the redevelopment of this section.

[2018-01-15 20:11] Mycroft1891 commented on #115
@KevinMulhern Sure

[2018-01-15 20:14] Mycroft1891 opened #120 "Change Link in Event Manager Project"
Regarding the project of this lesson. If you use download the event_attendees.csv file using the link from the lesson, you don't get the actual csv but the html file. To get the actual csv you have to use the raw link:

https://raw.githubusercontent.com/TheOdinProject/ruby_course/master/ruby_programming/intermediate_ruby/event_attendees.csv

@mindovermiles262 pointed out that the URL is correct in

[2018-01-15 20:15] KevinMulhern commented on #115
@Mycroft1891 Thank you 😄

[2018-01-17 12:40] KevinMulhern commented on #120
Thanks for reporting this @Mycroft1891

[2018-01-17 19:47] mindovermiles262 commented on #120
Corrected.

Thanks @Mycroft1891 for pointing this out 😄

[2018-01-17 19:47] #120 closed

[2018-01-25 12:41] KevinMulhern commented on #113
Potential resource for the introduction lesson, comparing procedural to OOP https://neonbrand.com/website-design/procedural-programming-vs-object-oriented-programming-a-review/

[2018-01-26 18:26] mindovermiles262 commented on #113
Plus-One to @KevinMulhern comment ^^^

For the longest time i struggled because I didn't know what WASN'T OOP. A comparison will be very useful in showing the differences

[2018-01-27 10:02] MariaTikhonova commented on #113
Kevin , do you mean I have to use this resource?

[2018-01-27 12:13] zeitchef opened #129 "`Errno::ENOENT` error in Event Manager"
When switching over to using the `CSV` library in the Event Manager project, I get the following error when running the file:

[code]

Here's my `event_manager.rb` file:

[code]

Interestingly, I'm able to access the CSV file and work with it in Pry without problems.

[2018-01-27 14:18] zeitchef commented on #129
Obviously, spelling the file name correctly would help greatly.

[2018-01-27 14:18] #129 closed

[2018-01-27 14:56] KevinMulhern commented on #113
Hey @mindovermiles262, yeah its a resource that can be used in the assignment of that lesson. When I come across a resource I think can be used on these lessons I usually link them on issues so I can remember them 😄

[2018-01-27 17:55] KevinMulhern commented on #113
Potential resource for classes and instances lesson https://www.youtube.com/watch?v=K8eOkzQ_o9w&index=2&list=PLxvooGgpi4NeugSB4Pk546MXTPmGqPdc4

[2018-02-26 11:38] Javier-Machin opened #178 "Advanced Ruby Building blocks resource links Amazon page"
Second assignment [here](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/basic_ruby/lesson_advanced_building_blocks.md) goes to an Amazon page to buy the book, I don't think that was intended :)

[2018-02-26 11:53] Javier-Machin commented on #178
(This)[https://books.google.es/books?id=VCQGjDhhbn8C&lpg=PA27&hl=es&pg=PA48#v=onepage&q&f=false] might be the correct link, but that preview has some omitted pages.

[2018-02-26 12:48] CouchofTomato commented on #178
Hey @Javier-Machin

The book itself is not free, and unfortunately there isn't really a great free resource we've found that we could replace it with. That's why it's linked to Amazon I believe.

[2018-02-26 16:32] Javier-Machin commented on #178
I see, maybe it can be changed to the second link then, its the same book but it goes directly to it and the  quality seems to be a bit better, I don't know if the omitted pages are the same in both.

[2018-02-27 19:51] Javier-Machin commented on #178
Jonathan Yiv found this:
https://github.com/randytorres/Books/blob/master/Apress-Beginning%20Ruby%20-%20From%20Novice%20to%20Professional.pdf
Seems to be the full book, but maybe its a bit shady to link that?

[2018-02-28 17:23] mindovermiles262 commented on #178
Exactly. We, as an open source project, cannot support pirating of copyrighted materials

[2018-02-28 17:23] #178 closed

[2018-03-09 00:12] MPalhidai commented on #112
Hi Kevin,

I'm currently working with an international team of up and coming developers. We are all looking to pad our resumes with more open source contributions (@heyalvaro). If you would like to coordinate, we would love to contribute our time and talent.

[2018-03-09 22:35] KevinMulhern commented on #112
Thanks @MPalhidai, I'd definitley appreciate help with this.

I've been caught up with work at my job since I took this on as an owner. But we have a lot of content done for this section.

Theres plenty more to do though, I'll get what work we've done for this on here within the next week. Once thats done we could take a look at whats left and plan from there if that sounds good to you?

[2018-03-12 20:13] MPalhidai commented on #112
Sounds great! I have six hours a week dedicated to open source contributions. I'd love to help out wherever I can!

[2018-03-13 10:55] Javier-Machin opened #217 "Broken link in project event manager lesson"
Hi
The link "submit them to  the project on Github" near the start of the lesson [here](https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/intermediate_ruby/project_event_manager.md) is broken.

[2018-03-13 13:51] mindovermiles262 commented on #217
I've fixed the link. Thanks for pointing this out @Javier-Machin

[2018-03-13 13:51] #217 closed

[2018-03-20 22:02] heyalvaro commented on #117
Hello Kevin! I'd like to take ownership of these lessons

[2018-03-20 22:03] heyalvaro commented on #116
Hello! I'd like to take ownership of these lessons

[2018-04-03 20:51] PolarisTLX commented on #112
Hi @KevinMulhern,  To avoid repeating work that has already been done, can we get an update on what still needs work?

[2018-04-04 14:58] KevinMulhern commented on #112
Hey guys sorry I haven't got the stuff up yet 🙈I've been snowed under at work. I promise I'll put it all up this weekend.

[2018-04-06 15:04] KevinMulhern commented on #112
Hey @MPalhidai and @PolarisTLX 👋

I've got the lessons for this section up now. Heres the state of the lessons:

Haven't been started:
* [Basic enumerable lesson](https://github.com/TheOdinProject/ruby_course/blob/master/new_course/1_programming_fundementals/basic_enumerable_methods.md)

[2018-04-10 21:03] PolarisTLX commented on #112
@KevinMulhern,
Kyle (@jklemon17) and I are currently working on the "Basic enumerable lesson".  We have forked the repo and created a new branch for that lesson.  When we have completed it shortly we will send a pull request to your main repo.  Is this alright?

[2018-04-10 23:03] KevinMulhern commented on #112
@MPalhidai @PolarisTLX @jklemon17 @heyalvaro

I just had a noisy at the lessons 👀they both look excellent 💯

Don't hesitate to reach out to me on here or in our [contributing room on gitter](https://gitter.im/TheOdinProject/Contributing) if you have any questions or want to discuss anything.

[2018-04-18 07:12] KevinMulhern commented on #117
Hey @heyalvaro, sorry I'm just seeing this. I was very busy with IRL stuff the past few months and missed quite a few comments on issues :(

I'm going through everything at the moment and trying to get things organised 😄 we are going to hold off on these set of lessons for now and come back to them when we get  more of the foundational lessons out.

These are the priorty lessons at the moment http

[2018-04-18 07:12] #117 closed

[2018-04-18 07:12] KevinMulhern commented on #116
Hi again @heyalvaro, the same applies to these lessons. Sorry yet again for not replying to this one sooner.

[2018-04-18 07:12] #116 closed

[2018-04-18 07:13] #115 closed

[2018-04-18 07:14] KevinMulhern commented on #114
We're going to reopen this issue when this course is merged back into the curriculum repo (commit history will be preserved)

[2018-04-18 07:14] KevinMulhern commented on #113
We're going to reopen this issue when this course is merged back into the curriculum repo (commit history will be preserved)

[2018-04-18 07:14] #113 closed

[2018-05-26 13:26] sarthak-v opened #321 "Event Manager"
Please someone important review this section, it surely needs some work. For example, at many places the code seemed complete but gave an error when i ran it, because it was incomplete. If its not complete on purpose then atleast state that, and at some places the code is formated as simple text.

[2018-05-26 17:59] KevinMulhern commented on #321
Hey @sarthak-v, can you be a bit more specific with whats broken please?

Can you provide some example of which parts you ran and got an error and what the error was?

[2018-05-27 02:29] sarthak-v commented on #321
![screenshot from 2018-05-27 07-58-42](https://user-images.githubusercontent.com/38680527/40581943-dff84dec-6183-11e8-8552-8c52adaa51b0.png)
https://www.theodinproject.com/courses/ruby-programming/lessons/event-manager

[2018-05-27 02:33] sarthak-v commented on #321
![screenshot from 2018-05-27 08-02-08](https://user-images.githubusercontent.com/38680527/40581960-46e0b864-6184-11e8-89c6-3ca8e7c21c0e.png)
code in this section (ERB) is not working as stated.

[2018-05-27 10:09] KevinMulhern commented on #321
Thanks @sarthak-v, the code high lighting should be easy enough to fix. I'll create a separate issue for that.

As for the erb section, can you tell use the specific error you were getting with it? that will help us narrow down the debugging.

[2018-05-27 12:05] sarthak-v commented on #321
The code is wrongly replacing the legislators in the form. Its showing that rescue text even when the info is available.

[2018-05-29 04:46] sarthak-v commented on #8
if we are going with web scraping then we should make a pokemon database with all the information about every pokemon

[2018-05-29 06:53] KevinMulhern commented on #321
Hey @sarthak-v, did that PR you made address the problems here? what about the issue with erb code snippet? 😄

[2018-05-29 07:33] sarthak-v commented on #321
i will update all the incorrect codes(if there are, other than erb code) by today or tmrw

[2018-05-29 12:46] usmanakhter opened #326 "broken link?"
first sentence [Web Dev 101 course](https://www.theodinproject.com/web-development-101/ruby-basics) goes to 404 page instead of [here](https://www.theodinproject.com/courses/web-development-101)

[2018-05-29 20:32] mindovermiles262 commented on #326
Which page is this on, @usmanakhter ?

[2018-05-30 00:51] usmanakhter commented on #326
oh sorry, on [Ruby Building BLocks](https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-building-blocks)

[2018-05-30 04:12] sarthak-v commented on #321
everything's working fine

[2018-05-30 04:12] #321 closed

[2018-05-30 08:29] CouchofTomato commented on #326
Hi @usmanakhter

You are welcome to submit a pull request if you'd like to make the fix otherwise we can handle it ourselves. Let me know what you'd prefer.

[2018-05-30 11:19] usmanakhter commented on #326
looks like it got taken care of thanks

[2018-05-30 12:50] sarthak-v commented on #326
maybe u should close this issue now

[2018-05-30 13:18] #326 closed

[2018-05-31 02:43] sarthak-v opened #329 "Missing Video"
https://www.theodinproject.com/courses/ruby-programming/lessons/common-data-structures-and-algorithms?ref=lnav
3rd point, assignment section, the video doesn't load.

[2018-05-31 10:09] sarthak-v commented on #329
just found out that the video from youtube is about binary search, but we had to find a video about binary search *tree*

[2018-05-31 10:09] sarthak-v commented on #329
open this issue again, and that pull request is also invalid

[2018-05-31 10:10] CouchofTomato commented on #329
Easier to just create a new pull request than to undo it @sarthak-v

[2018-06-08 19:42] leosoaivan commented on #114
:tada:

[2018-06-19 15:58] Deetss commented on #114
Hope yall approve of my matchers lesson.

Introduction
In the previous lesson, we went over the basics of writing tests with RSpec. In this lesson, we will introduce you to RSpec matchers. There are tons of RSpec matchers and we couldn't possibly cover all of them in this lesson but I encourage you to take a look at the entire list of RSpec matchers

Learning Outcomes:
Understand what RSpec matche

[2018-06-20 08:01] KevinMulhern commented on #114
Hey @Deetss, the lesson looks great 😍

It would probably be worth wrapping any expectations in examples within `it` blocks. Just as a precaution incase students think they can make expectations outside of `it` blocks (If an expectation isn't in an `it` block it will raise an error normally)

Thats the only thing I notice, everything else looks good. Nice work man!

[2018-06-20 13:21] Deetss commented on #114
Okay awesome! Thanks for y'all feedback!

[2018-06-26 00:55] benjsmyth opened #368 ""Beginning Ruby" resource has missing pages"
Going through the Basic Ruby section, I've noticed that the link to the resource for [Beginning Ruby](https://books.google.com.pk/books?id=MiGpDAAAQBAJ&printsec=frontcover#v=onepage&q&f=false) by Peter Cooper is not a complete copy of the book and has some pages removed. Some of these removed pages are included in what we are told to read.

I did some searching and found [this](http://index-of.es/

[2018-06-30 04:06] leosoaivan commented on #114
# Test-Driven Development

## Introduction

Hopefully, you've been having fun developing in Ruby thus far. Perhaps one thing you may **not** have enjoyed as much, though, is having to run your script on the command line, running through each step manually, only to find that it doesn't return what you expected. And then comes the *even-less-fun* part: You tug at your hair a bit, change a few variab

[2018-07-04 12:29] AREEBAISHTIAQ commented on #368
@benjsmyth  the link you have found is "second edition" and in lesson there is  "third edition" of "beginning ruby", there is no link of this book with full pages

[2018-07-04 14:01] KevinMulhern commented on #368
Bear in mind whatever we link to needs to be legal as well. We definitley do not want to be linking to anything that violates copy right infringement laws.

The ruby course is due a refresh in terms of resources, theres some new free resources that may be more suitable than Beginning Ruby.

[2018-07-04 21:00] benjsmyth commented on #368
My mistake, I had thought they were the same edition. Also hadn't considered legal issues. Thank you both for you responses.

[2018-07-04 21:00] #368 closed

[2018-08-04 19:06] brndntng opened #435 "Grammar issues in Event Manager project"
I've noticed a few grammar mistakes in the Event Manager project including comma splices, sentence fragments, and singular articles referring to plural nouns. Some of the comma splices are desirable within the colloquial style, and should be kept. For example:

Others look wrong and should be changed to a dash or split into two sentences:

I'm finding the lesson very helpful! I would love to impro

[2018-09-12 18:09] hoangtommy opened #497 "Intermediate Ruby/OOP: Links to eBook"
Hey team,

The links in the Beginning Ruby book are linking out to an [Amazon page](https://www.amazon.co.uk/Beginning-Ruby-Professional-Peter-Cooper/dp/1484212797) to purchase the book whereas in previous sections, it was linking to the [ebook preview itself](https://books.google.com.pk/books?id=MiGpDAAAQBAJ&printsec=frontcover#v=onepage&q&f=false).

Happy to fix the links myself but was wonderin

[2018-09-13 08:59] KevinMulhern commented on #497
Hi @hoangtommy, I think at the time we were updating the links the google previews of those chapters were not available.

We've been considering updating the resources on that section for a while now. I think this short book would be better for the OOP section: https://launchschool.com/books/oo_ruby/read/introduction

[2018-09-13 15:30] hoangtommy commented on #497
Ahh gotcha. I can update the current links to the google previews as a temporary solution if that would be helpful.

Would you suggest I read the shorter book, the existing book, or both as someone following the curriculum for the first time?

[2018-09-14 22:32] hoangtommy commented on #497
I ended up doing both. I agree with you Kevin, the Launch School resource is more concise and was a better read IMO. I'll do a pull request to include the Launch School as an additional resource for now and update the links for the original google preview book.

[2018-09-14 22:32] #497 closed

[2018-09-29 22:38] KevinMulhern commented on #112
Hey @jklemon17, @PolarisTLX we've been moving all our repos over into the one curriculum repo. I've moved over all the new lessons worked on for this issue. Commit history and all that has been preserved. I'm going to make a push to get these lessons out within the next month, they are much better than what we currently have on the site and have been sitting too long in this repo.